@media (max-width:900px){
  .container-about{
    flex-direction: column-reverse;
  }
  .massage-about-us-all{
  padding-left: 1%;
  width: 100%;
}


.massage-about-card{
  display: grid;
}

.massage-about-img img{
  margin: 130px 30px 20px 150px;
}

.massage-about-title-one{
  margin-left: 3%;
  
}
.massage-about-line{
  margin-left: 3%;
}
}

@media (max-width:900px){
.massage-about-img img{
  margin: 130px 30px 20px 10px;
}


}